fastapi[standard]==0.110.0
uvicorn[standard]==0.29.0
httpx==0.27.0
requests==2.31.0
redis==5.0.3
python-dotenv==1.0.0
gunicorn==21.2.0
openai==1.14.0
psycopg2-binary==2.9.10
SQLAlchemy==2.0.36
json5==0.9.14
python-json-logger==2.0.7
PyYAML==6.0.1
websocket-client==1.7.0
cryptography>=42.0.0
prometheus-fastapi-instrumentator==7.0.0
